<div class="jumbotron text-center">
  <h1 class="display-4">MEAN Blog</h1>
  <p class="lead">
    Welcom to our custom MEAN Blog appliction built from scratch
  </p>
  <hr class="my-4" />
  <a class="btn btn-primary btn-lg" [routerLink]="['/register']" role="button"
    >Register</a
  >
  <a class="btn btn-primary btn-lg" [routerLink]="['/login']" role="button"
    >Login</a
  >
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>
      Rock solid Node.js server using Mongoose to organize models and query the
      database.
    </p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>
      Angular-CLI to generate components, services and more. Local dev server
      and easy compilation.
    </p>
  </div>
  <div class="col-md-4">
    <h3>JTW Tokens</h3>
    <p>
      Full featured authentication using JSON web tokens. Login and store user
      data.
    </p>
  </div>
</div>
